@model  eProiect.Models.ViewModels.GeneralViewData
@using eProiect.Domain.Entities.User;

@{
     ViewBag.Title = "AddUserPage";
     Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}

<div class="page-header card">
     <div class="row align-items-end">
          <div class="col-lg-8">
               <div class="page-header-title">
                    <i class="icofont icofont-clip-board bg-c-blue"></i>
                    <div class="d-inline">
                         <h4>Add User Form</h4>
                         <span>
                              This form is for adding user.
                         </span>
                    </div>
               </div>
          </div>
          <div class="col-lg-4">
               <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                         <li class="breadcrumb-item">
                              <a href="@Url.Action("Schedule", "Home")">
                                   <i class="icofont icofont-home"></i>
                              </a>
                         </li>
                         <li class="breadcrumb-item">
                              <a href="@Url.Action("Users", "Admin")">Users</a>
                         </li>
                         <li class="breadcrumb-item">
                              <a href="@Url.Action("AddUser", "Admin")"> Add User</a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</div>

<div class="page-body">

     <div class="row">
          <div class="col-sm-12">
               <!-- Post comment card start -->
               <div class="card">
                   @* <div class="card-header">
                         <h5>Post Your Comment Here</h5>
                         <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                         <div class="card-header-right"> <i class="icofont icofont-spinner-alt-5"></i> </div>
                    </div>*@
                    <div class="card-block">
                         <div class="j-wrapper j-wrapper-640">
                              <div class="j-pro" id="j-pro">
                                   <div class="j-content">
                                        <!-- start name -->
                                        <div class="j-row">
                                             <div class="j-span6 j-unit">
                                                  <div class="j-input">
                                                       <label class="j-icon-left" for="name">
                                                            <i class="icofont icofont-ui-user"></i>
                                                       </label>
                                                       <input type="text" id="name" name="name" placeholder="Name" class="name-group">
                                                  </div>
                                             </div>
                                             <div class="j-span6 j-unit">
                                                  <div class="j-input">
                                                       <label class="j-icon-left" for="surname">
                                                            <i class="icofont icofont-ui-user"></i>
                                                       </label>
                                                       <input type="text" id="surname" name="surname" placeholder="Surname" class="name-group">
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- end name -->
                                        <!-- start email url -->
                                        <div class="j-row">
                                             <div class="j-span6 j-unit">
                                                  <div class="j-input">
                                                       <label class="j-icon-left" for="email">
                                                            <i class="icofont icofont-envelope"></i>
                                                       </label>
                                                       <input type="email" placeholder="Email" id="email" name="email">
                                                  </div>
                                             </div>
                                             <div class="j-span6 j-unit">
                                                  <div class="j-input">
                                                       <label class="j-icon-left" for="date">
                                                            <i class="icofont icofont-ui-calendar"></i>
                                                       </label>
                                                       <input class="form-control" type="date" style="height:48px">
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- end email url -->
                                        <!-- start  -->

                                        <div class="j-unit">
                                             <div class="j-input">
                                                  <select id="role" name="select" class="form-control form-control-default" style="height:48px">
                                                       <option value="opt1">Select Role</option>
                                                       <option value="1">@UserRole.teacher</option>
                                                       <option value="2">@UserRole.admin</option>
                                                  </select>
                                             </div>
                                        </div>
                                        <div class="j-unit">
                                             <span class="j-error-message" id="error_span" style=" align-content: center; height: 48px; display: none; "></span>
                                        </div>

                                        <!-- end  -->
                                        <!-- start response from server -->
                                        <div class="j-response"></div>
                                        <!-- end response from server -->
                                   </div>
                                   <!-- end /.content -->
                                   <div class="j-footer">
                                        <button id="submit" class="btn btn-primary" onclick="send()">Add User</button>
                                   </div>
                                   <!-- end /.footer -->
                              </div>
                         </div>
                    </div>
               </div>
               <!-- Post comment card end -->
          </div>
     </div>
</div>
