@model  eProiect.Models.ViewModels.GeneralViewData
@{
     ViewBag.Title = "Disciplines";
     Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}



<thead>
     <tr>
          <th>#</th>
          <th>Name</th>
          <th>ShortName</th>
       
     </tr>
</thead>
<tbody>
     @{
          
          foreach (var discipline in @Model.DisciplinesDataList.Disciplines)
          {

               <tr>
                    <th scope="row">@discipline.Id</th>
                    <td class="tabledit-view-mode">
                         <span class="tabledit-span">@discipline.Name</span>
                         <input class="tabledit-input form-control input-sm" type="text" name="Name" value="@discipline.Name">
                    </td>
                    <td class="tabledit-view-mode">
                         <span class="tabledit-span">@discipline.ShortName</span>
                         <input class="tabledit-input form-control input-sm" type="text" name="Surname" value="@discipline.ShortName">
                    </td>
               </tr>
          }

     }

</tbody>
