@model  eProiect.Models.ViewModels.GeneralViewData
@using eProiect.Domain.Entities.User;

@{
     ViewBag.Title = "Users";
     Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}


<thead>
     <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
     </tr>
</thead>
<tbody>
     @{
          
          foreach (var user in @Model.UDataList)
          {

               <tr name=@user.Id>
                    <th scope="row">@user.Id </th>
                    <td class="tabledit-view-mode">
                         <span class="tabledit-span ">@user.Name</span>
                         <input class="tabledit-input form-control input-sm testt" type="text">
                    </td>
                    <td class="tabledit-view-mode">
                         <span class="tabledit-span">@user.Surname</span>
                         <input class="tabledit-input form-control input-sm" type="text">
                    </td>
                    <td class="tabledit-view-mode">
                         <span class="tabledit-span">@user.Email</span>
                         <input class="tabledit-input form-control input-sm" type="text">
                    </td>
                    <td class="tabledit-view-mode">
                         <span class="tabledit-span">@user.Level</span>
                         <select class="tabledit-input form-control input-sm" name="Role" disabled="" style="display:none;">
                              <option value=@user.Level selected>@user.Level</option>
                              <option value="0">@UserRole.guest</option>
                              <option value="1">@UserRole.teacher</option>
                              <option value="2">@UserRole.admin</option>
                         </select>
                    </td>

               </tr>
          }

     }

</tbody>


         
