
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

@model eProiect.Models.Users.UserLogin

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- Authentication card start -->

            <div class="login-card card-block auth-body mr-auto ml-auto">
                <form class="md-float-material" , method="post">
                    <div class="auth-box">
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-left txt-primary">Logare</h3>
                            </div>
                        </div>
                        <hr />


                        @Html.AntiForgeryToken()

                        <div class="input-group">

                            @Html.ValidationMessageFor(UserLogin => UserLogin.Credential, "", new { @class = "text-danger" })
                            <input type="text" name="Credential" id="Credential" class="form-control" placeholder="Email" required>
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">

                            @Html.ValidationMessageFor(UserLogin => UserLogin.Password, "", new { @class = "text-danger" })
                            <input type="password" name="Password" id="Password" class="form-control" placeholder="Parolă" required />
                            <span class="md-line"></span>
                        </div>
                        <div class="row m-t-25 text-left">
                            <div class="col-12">
                                <div class="checkbox-fade fade-in-primary">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                        <span class="text-inverse">Remember me</span>
                                    </label>
                                </div>
                                <div class="forgot-phone text-right f-right">
                                    <a href="@Url.Action("LoginError", "Login")" class="text-right f-w-600 text-inverse">Ai uitat parola?</a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30" style="margin: 0; margin-bottom: 0.7rem; justify-content: space-between;">
                            @*button btn btn-primary btn-md btn-block waves-effect text-center m-b-20*@
                            <button type="submit" id="Login" name="LoginButton" class="button btn btn-primary text-center" style="width:100%">Logare</button>                            
                            <button id="backToSchedule" class="button btn btn-primary text-center" style="width: 100%; margin-top: 6px; margin-bottom: -13px; }">Înapoi la orar</button>
                        </div>

                        @{
                            var classString = "invisible";
                            if (ViewBag.LogSuccess != null && !ViewBag.LogSuccess)
                            {
                                classString = "row fail-auth-message-row";
                            }
                        }
                        <div class="@classString">
                            <i class="ti-alert warning-icon"></i>
                            <span style="color: #444c67">Invalid credentials</span>
                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- Authentication card end -->
            <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
</div>
