
@{
    ViewBag.Title = "Schedule";
}


@using eProiect.Models.Schedule
@model eProiect.Models.ViewModels.GeneralViewData

@{
    ScheduleFrame frame = new ScheduleFrame();

    var sched = Model.Schedule;
    bool isEvenWeek = frame.isEvenWeek();
}

<div id="schedule-container">
    <div id="partial-view-container">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <!--Schedule here-->

                <table id="desktopTable" style=" box-shadow: 3px 3.8px 11.5px rgba(0, 0, 0, 0.075), 31px 40px 92px rgba(0, 0, 0, 0.15);">
                    <tr>
                        <th class="hour-column"></th>
                        @{ //WEEKDAYS ROW
                            foreach (var weekday in frame.WeekDays)
                            {
                                <th class="mobile-weekday">
                                    <span class="mobile-weekday-name">@weekday</span>
                                </th>
                            }
                        }
                    </tr>
                    @{ // TIME INTERVALS ROWS

                        foreach (var interval in frame.TimeIntervals)
                        {

                            <tr class="timetable-row">
                                <td class="special">
                                    <div class="timetable-intervals">@interval.Item1.ToString("hh\\:mm") - @interval.Item2.ToString("hh\\:mm")</div>
                                </td>
                                @{
                                    for (uint cellNr = 0; cellNr < 6; cellNr++)
                                    {
                                        if (sched.existingLesson(interval.Item1, cellNr))
                                        {
                                            var evenLesson = sched.getLessonEven(interval.Item1, cellNr);
                                            var oddLesson = sched.getLessonOdd(interval.Item1, cellNr);


                                            //NORMAL LESSON
                                            if (evenLesson == oddLesson)
                                            {
                                                <td rowspan="@evenLesson.LessonLength.GetLength()" class="table-cell">
                                                    <span class="mobile-timeinterval">
                                                        @evenLesson.StartTime.ToString("hh\\:mm") - @evenLesson.EndTime.ToString("hh\\:mm") <br />
                                                    </span>
                                                    @{string classType;
                                                        if (evenLesson.Type.Substring(0, 1).ToLower() == "l") { classType = "lab"; } else { classType = evenLesson.Type.Substring(0, 1).ToLower(); }
                                                    }
                                                    <div class="timetable-cell-content">
                                                        <span class="timetable-cell-class"> @classType. @evenLesson.ShortName<br /></span>
                                                        <span class="timetable-cell-classroom">@evenLesson.Classroom</span>
                                                        &#8205;
                                                        
                                                        @{if (evenLesson.Type != "Curs"){
                                                            <span class="timetable-cell-acadgroup">@evenLesson.AcademicGroup</span>
                                                        }}
                                                        
                                                    </div>
                                                    
                                                </td>
                                            }
                                            //EVEN AND ODD LESSONS
                                            else
                                            {

                                                var oddClassParameter = "";
                                                var evenClassParameter = "";
                                                var separatorClass = "";
                                                var dividedCellClass = "";

                                                if (evenLesson.Discipline == "NULL")
                                                {
                                                    evenClassParameter += "empty-even";
                                                    oddClassParameter += "normal-scale";
                                                    separatorClass += "empty-even";
                                                }
                                                else if (oddLesson.Discipline == "NULL")
                                                {
                                                    oddClassParameter += "empty-odd";
                                                    evenClassParameter += "normal-scale";
                                                    separatorClass = "empty-odd";
                                                }

                                                if (isEvenWeek)
                                                {
                                                    oddClassParameter += " unfocused";
                                                    dividedCellClass = " full-size";

                                                }
                                                else
                                                {
                                                    evenClassParameter += " unfocused";
                                                    dividedCellClass = " full-size";
                                                }

                                                <td class="timetable-tablecell">

                                                    @if (evenLesson.StartTime.ToString("hh\\:mm") != "00:00")
                                                    {
                                                        <span class="mobile-timeinterval">
                                                            @evenLesson.StartTime.ToString("hh\\:mm") - @evenLesson.EndTime.ToString("hh\\:mm") <br />
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="mobile-timeinterval">
                                                            @oddLesson.StartTime.ToString("hh\\:mm") - @oddLesson.EndTime.ToString("hh\\:mm") <br />
                                                        </span>
                                                    }


                                                    <!--TWO DIVS, one left one right-->
                                                    <div class="timetable-cell-divided @dividedCellClass">

                                                        <div class="timetable-cell-content-even @evenClassParameter">
                                                            <span class="timetable-cell-class">
                                                                @evenLesson.Type.Substring(0, 1).ToLower() @evenLesson.ShortName
                                                                <br />
                                                            </span>
                                                            <span class="timetable-label-even span-attributes">Par</span>
                                                            <span class="timetable-cell-classroom span-attributes">
                                                                @evenLesson.Classroom
                                                            </span>
                                                            <br />
                                                            @{if (evenLesson.Type != "Curs")
                                                                {
                                                                    <span class="timetable-cell-acadgroup">@evenLesson.AcademicGroup</span>
                                                                }}
                                                            
                                                        </div>

                                                        <div class="separator-line @separatorClass">&#8205;</div>


                                                        <div class="timetable-cell-content-odd @oddClassParameter">
                                                            <span class="timetable-cell-class">
                                                                @oddLesson.Type.Substring(0, 1).ToLower(). @oddLesson.ShortName
                                                                <br />
                                                            </span>
                                                            <span class="timetable-label-odd span-attributes">Impar</span>
                                                            <span class="timetable-cell-classroom span-attributes">
                                                                @oddLesson.Classroom
                                                            </span>
                                                            <br />
                                                            @{if (evenLesson.Type != "Curs")
                                                            {
                                                                <span class="timetable-cell-acadgroup">@oddLesson.AcademicGroup</span>
                                                            }}
                                                        </div>

                                                    </div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td class="empty clickable">
                                                                                                                             
                                                <button id="addLesson" class="covered plus-button" type="submit" name="lessonInfo" data-position-time="@interval.Item1.ToString("hh\\:mm")" data-position-weekday-nr="@cellNr" data-position-hours="@interval.Item1.Hours" data-position-minutes="@interval.Item1.Minutes">
                                                    <i class="ti-plus button-plus-sign"></i>
                                                </button>

                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                </table>
              

            <table id="mobileTable"></table>
            <!--End Schedule-->

            <div>
                <div class="mobile-addlesson">
                    not implemented
                    <i class="ti-plus" style="font-size: 4rem;"></i>
                </div>
            </div>


            </div>
        </div>
    </div>
</div>
<div id="addlesson-container" style="display:none;">
    <!--
        
    <div class="cleardiv" style=" height: 28px;">
    </div>
    -->
    <div class="card" style=" margin: 10px 27px 10px 27px;">
        <div class="card-body">
            <div class="page-top-info" style="margin-bottom: -4px; display: inline-flex; align-items: center; width: 100%; justify-content: center">
                <div class="highlighted-lesson-info">

                    <span style="font-size: 30px; color: #303548; margin-right: 8px;">Perechea va fi plasată </span>
                    <div style="background-color: #151a2b; border-radius: 9px ">
                        <span id="selectedTime" class="selected-lesson-startime"></span>
                        <span id="hour" style="display:none;">o</span>
                        <span id="minute" style="display:none;">o</span>
                        <span id="day" style="display:none;">o</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin: 0 27px 0 27px;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <!--SELECTORS-->
                    <div class="container p-0" style="margin:0">


                        <!--Discipline,Type-->
                        <div class="row">
                            <div class="select-category-addlesson col-3"><span>Disciplina</span></div>
                            <div class="col">
                                <select id="disciplineSelector" name="select" class="form-control form-control-inverse">
                                    <option disabled selected value="-1">disciplina</option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="select-category-addlesson col-3"><span>Tipul perechii</span></div>
                            <div class="col">
                                <select id="typeSelector" name="select" class="form-control form-control-inverse">
                                    <option disabled selected value="-1">tipul</option>
                                </select>
                            </div>
                        </div>


                        <!--Year selector, group-->
                        <div class="row">
                            <div class="select-category-addlesson col-3"><span>Anul de studii</span></div>
                            <div class="col">
                                <select id="yearSelector" name="select" class="yearSelect form-control form-control-inverse">
                                    <option disabled selected value="-1">anul</option>
                                    <option value="1">anul 1</option>
                                    <option value="2">anul 2</option>
                                    <option value="3">anul 3</option>
                                    <option value="4">anul 4</option>
                                </select>
                            </div>
                        </div>

                        <div id="multi-group-select" class="multi-selector closed">
                            <div class="row">
                                <div class="col-3" style=" display: flex; padding: 0; align-items: center; justify-content: flex-end;">
                                    <button id="toggle-dropdown" class="dropdown-button">select groups</button>
                                </div>
                                <div class="col">
                                    <div id="selected-options" class="selected-tags"></div>
                                </div>
                            </div>

                            <div id="group-menu" class="closed" style="display:flex">
                                <div class="col-3"></div>
                                <div class="col">
                                    <div id="dropdown-options" class="dropdown-content">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="group-select-row" class="row">
                            <div class="select-category-addlesson col-3"><span>Grupa</span></div>
                            <div class="col">
                                <select id="groupSelector" name="select" class="form-control form-control-inverse">
                                    <option disabled selected value="-1">grupa</option>
                                </select>
                            </div>
                        </div>


                        <!--Even Odd radio buttons-->
                        <div class="form-radio">
                            <div class="row">
                                <div class="col-3" style=" display: flex; align-items: center; justify-content: flex-end; padding-right: 0;">
                                    <span>Frecvență:</span>
                                </div>


                                <div class="col-5">
                                    <div class="class-param-radio radio radiofill radio-info" style="display: inline-flex; flex-direction: row-reverse;">
                                        <label class="class-type-label">
                                            <input type="radio" name="frequency" value="1" checked="checked" data-frequency="par">
                                            <i class="helper"></i>Pară
                                        </label>

                                        <label class="class-type-label">
                                            <input type="radio" name="frequency" value="2" checked="checked" data-frequency="impar">
                                            <i class="helper"></i>Impară
                                        </label>

                                        <label class="class-type-label">
                                            <input type="radio" name="frequency" value="0" checked="checked" data-frequency="0">
                                            <i class="helper"></i>Săptămânală
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Lesson duration-->
                        <div class="form-radio">
                            <div class="row">
                                <div class="col-3" style=" display: flex; align-items: center; justify-content: flex-end; padding-right: 0;">
                                    <span>Durată:</span>
                                </div>

                                <div class="col">
                                    <div class="class-param-radio radio radiofill radio-info" style="display: inline-flex; flex-direction: row-reverse;">
                                        <label class="class-type-label">
                                            <input type="radio" name="length" value="2" checked="checked">
                                            <i class="helper"></i>2 perechi
                                        </label>

                                        <label class="class-type-label">
                                            <input type="radio" name="length" value="1" checked="checked">
                                            <i class="helper"></i>1 pereche
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col">
                                <p class="user-notice">Disponibilitatea cabinetelor depinde de frecvența și durata perechii.</p>
                            </div>
                        </div>

                        <!--Etajul, cabinetul-->
                        <div class="row">

                            <div class="select-category-addlesson col-3"><span>Etajul</span></div>
                            <div class="col">
                                <select id="floorSelector" name="select" class="form-control form-control-inverse">
                                    <option disabled selected value="-1">etajul</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:0">
                            <div class="select-category-addlesson col-3"><span>Cabinetul</span></div>
                            <div class="col">
                                <select id="classroomSelector" name="select" class="form-control form-control-inverse">
                                    <option disabled selected value="-1">cabinetul</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-5" style="display: flex; align-items: flex-end; flex-direction: column; justify-content: flex-end;">
                    <!--CONFIRM BUTTONS-->
                    <div class="class-constructor-block col">

                        <div class="class-card-wrapper" style="width: 50%;">
                            <div style="display: flex; ">
                                <div class="empty-square"></div>
                                <div id="constructor-weekday" class="constructor-weekday"></div>
                            </div>

                            <div style="display: flex; height: 40%; ">
                                <div class="constructor-time"><div id="constructor-time" class="rotate-stuff-90"></div></div>
                                <div class="constructor-content">
                                    <div style="display: inline-flex;">
                                        <span id="constructorDisType" class="timetable-cell-class" style=" margin-right: 2px;"><br></span>
                                        <span id="constructorDisName" class="timetable-cell-class">disciplină<br></span>
                                    </div>

                                    <div style=" display: flex; flex-direction: column; align-items: center;">
                                        <span class="timetable-cell-acadgroup m-b-5">@Model.UData.Surname.Substring(0, 1). @Model.UData.Name</span>
                                        <div style="display:inline-flex">
                                            <span id="constructorClassroom" class="timetable-cell-classroom">cabinet</span>
                                            <span id="constructorFrequency" class="m-r-1"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="width: 100%;">
                        <div id="postStatus" class="col response-messages-addclass"></div>
                    </div>

                    <p class="user-notice m-b-10">
                        Perechile necesită aprobare de către administrator.
                        Veți primi un mesaj pe poșta electronică la aprobarea/dezaprobarea perechii.
                    </p>


                    @*<div class="row" style="display: flex; align-items: flex-end; justify-content: space-around; width: 100%; ">

                        <div class="cancel-action">
                            <a class="go-back" style="font-size: 14.7px; " href="@Url.Action("Schedule", "Home")">Anulează <i class="ti-trash"></i></a>
                        </div>*
                    </div>*@
                    <div class="addlesson-buttons-row">
                        <button id="submit-button-addlesson" type="submit" class="addlesson-button addlesson-button-confirm" style="width: 80%;">Confirmă <i class="ti-check"></i></button>
                        <button id="cancel-button-addlesson" class="addlesson-button addlesson-button-deny" style="width: 17%;"> <i class="ti-trash"></i></button>
                    </div>


                </div>
            </div>

            
            
            
    </div>
</div>
</div>