
@{
    ViewBag.Title = "Schedule";
}

@using eProiect.Models.Users
@using eProiect.Models.Schedule

@{
    ScheduleFrame frame = new ScheduleFrame();
    UserSchedule sched = new UserSchedule();

    sched.addLesson(new ScheduleCell("AMS", "Luni", "6-2" ,new TimeSpan(8, 0, 0), new TimeSpan(9, 30, 0)));
    sched.addLesson(new ScheduleCell("TSI", "Luni","3-3", new TimeSpan(9, 45, 0), new TimeSpan(11, 15, 0)));
    sched.addLesson(new ScheduleCell("LFAF", "Luni", "101", new TimeSpan(13, 30, 0), new TimeSpan(15, 0, 0)));
    sched.addLesson(new ScheduleCell("Pizda măsii", "Marți", "512-B", new TimeSpan(9, 45, 0), new TimeSpan(11, 15, 0)));
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <!--Schedule here-->
        <div class="page-wrapper">
            <table>
                
                <tr>
                    <th>Ora/Ziua</th>
                    @{ //TIME INTERVALS ROW
                        foreach(var interval in frame.TimeIntervals){
                            <th>@interval.Item1.ToString("hh\\:mm") - @interval.Item2.ToString("hh\\:mm")</th>
                        }
                    }
                </tr>
                @{ //WEEKDAYS ROW
                    foreach(var weekday in frame.WeekDays){
                        <tr>
                            <td class="special">@weekday</td>
                            @{
                                for (uint lessonNr = 0; lessonNr < 7; lessonNr++)
                                {
                                    if (sched.lessonPresent(weekday, lessonNr))
                                    {
                                        var lesson = sched.getLesson(weekday, lessonNr);
                                        <td>@lesson.Discipline<br/>@lesson.Classroom</td>
                                    }else{
                                        <td>:)</td>
                                    }

                                }
                            }
                        </tr>
                    }
                }

                
                
            </table>
        </div>
        <!--End Schedule-->
    </div>
</div>
