@using System.Web.Optimization


<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="description" content="#">
     <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
     <meta name="author" content="#">
     <!-- Favicon icon -->
     <link rel="icon" href="~/Vendor/assets/images/favicon.ico" type="image/x-icon">
     <!-- Google font-->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
     <!-- Required Fremwork -->
     <!-- Required Fremwork -->
     @Styles.Render("~/bundles/bootstrap/css")
     <!-- themify-icons line icon -->
     @Styles.Render("~/bundles/themify-icons/css1")
     <!-- ico font -->
     @Styles.Render("~/bundles/ico-font/css2")
     <!-- Menu-Search css -->
     @Styles.Render("~/bundles/menu-search/css3")
     <!-- Style.css -->
     @Styles.Render("~/bundles/style/css4")
     @Styles.Render("~/bundles/mCustomScrollbar/css5")


     @Styles.Render("~/bundles/flag-icon/css")
     @Styles.Render("~/bundles/bootstrap.min/css")

     @if (IsSectionDefined("Styles"))
     {@RenderSection("Styles", required: false)}


</head>
<body>

     <!-- Pre-loader start -->
     <div class="theme-loader">
          <div class="ball-scale">
               <div class='contain'>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
               </div>
          </div>
     </div>
     <!-- Pre-loader end -->
     <div id="pcoded" class="pcoded load-height">
          <div class="pcoded-overlay-box"></div>
          <div class="pcoded-container navbar-wrapper">

               <nav class="navbar header-navbar pcoded-header auth-header" header-theme="theme1">
                    <div class="navbar-wrapper">
                         <div class="navbar-logo" logo-theme="theme1" navbar-theme="theme4">
                              <a class="mobile-search morphsearch-search" href="#">
                                   <i class="ti-search"></i>
                              </a>
                              <a href="index.html">
                                   <img class="img-fluid" src="../files/assets/images/logo.png" alt="Theme-Logo" />
                              </a>
                              <a class="mobile-options">
                                   <i class="ti-more"></i>
                              </a>
                         </div>
                         <div class="navbar-container container-fluid">
                              <div>
                                   <ul class="nav-left">
                                        <li>
                                             <a href="#!" onclick="javascript:toggleFullScreen()">
                                                  <i class="ti-fullscreen"></i>
                                             </a>
                                        </li>
                                        <li class="mega-menu-top">
                                             <a href="#">
                                                  Mega
                                                  <i class="ti-angle-down"></i>
                                             </a>
                                             <ul class="show-notification row">
                                                  <li class="col-sm-3">
                                                       <h6 class="mega-menu-title">Popular Links</h6>
                                                       <ul class="mega-menu-links">
                                                            <li><a href="form-elements-component.html">Form Elements</a></li>
                                                            <li><a href="button.html">Buttons</a></li>
                                                            <li><a href="map-google.html">Maps</a></li>
                                                            <li><a href="user-card.html">Contact Cards</a></li>
                                                            <li><a href="user-profile.html">User Information</a></li>
                                                            <li><a href="auth-lock-screen.html">Lock Screen</a></li>
                                                       </ul>
                                                  </li>
                                                  <li class="col-sm-3">
                                                       <h6 class="mega-menu-title">Mailbox</h6>
                                                       <ul class="mega-mailbox">
                                                            <li>
                                                                 <a href="#" class="media">
                                                                      <div class="media-left">
                                                                           <i class="ti-folder"></i>
                                                                      </div>
                                                                      <div class="media-body">
                                                                           <h5>Data Backup</h5>
                                                                           <small class="text-muted">Store your data</small>
                                                                      </div>
                                                                 </a>
                                                            </li>
                                                            <li>
                                                                 <a href="#" class="media">
                                                                      <div class="media-left">
                                                                           <i class="ti-headphone-alt"></i>
                                                                      </div>
                                                                      <div class="media-body">
                                                                           <h5>Support</h5>
                                                                           <small class="text-muted">24-hour support</small>
                                                                      </div>
                                                                 </a>
                                                            </li>
                                                            <li>
                                                                 <a href="#" class="media">
                                                                      <div class="media-left">
                                                                           <i class="ti-dropbox"></i>
                                                                      </div>
                                                                      <div class="media-body">
                                                                           <h5>Drop-box</h5>
                                                                           <small class="text-muted">
                                                                                Store large amount of data in one-box only
                                                                           </small>
                                                                      </div>
                                                                 </a>
                                                            </li>
                                                            <li>
                                                                 <a href="#" class="media">
                                                                      <div class="media-left">
                                                                           <i class="ti-location-pin"></i>
                                                                      </div>
                                                                      <div class="media-body">
                                                                           <h5>Location</h5>
                                                                           <small class="text-muted">Find Your Location with ease of use</small>
                                                                      </div>
                                                                 </a>
                                                            </li>
                                                       </ul>
                                                  </li>
                                                  <li class="col-sm-3">
                                                       <h6 class="mega-menu-title">Gallery</h6>
                                                       <div class="row m-b-20">
                                                            <div class="col-sm-4">
                                                                 <img class="img-fluid img-thumbnail" src="../files/assets/images/mega-menu/01.jpg" alt="Gallery-1">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                 <img class="img-fluid img-thumbnail" src="../files/assets/images/mega-menu/02.jpg" alt="Gallery-2">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                 <img class="img-fluid img-thumbnail" src="../files/assets/images/mega-menu/03.jpg" alt="Gallery-3">
                                                            </div>
                                                       </div>
                                                       <div class="row m-b-20">
                                                            <div class="col-sm-4">
                                                                 <img class="img-fluid img-thumbnail" src="../files/assets/images/mega-menu/04.jpg" alt="Gallery-4">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                 <img class="img-fluid img-thumbnail" src="../files/assets/images/mega-menu/05.jpg" alt="Gallery-5">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                 <img class="img-fluid img-thumbnail" src="../files/assets/images/mega-menu/06.jpg" alt="Gallery-6">
                                                            </div>
                                                       </div>
                                                       <button class="btn btn-primary btn-sm btn-block">Browse Gallery</button>
                                                  </li>
                                                  <li class="col-sm-3">
                                                       <h6 class="mega-menu-title">Contact Us</h6>
                                                       <div class="mega-menu-contact">
                                                            <div class="form-group row">
                                                                 <label for="example-text-input" class="col-3 col-form-label">Name</label>
                                                                 <div class="col-9">
                                                                      <input class="form-control" type="text" placeholder="Artisanal kale" id="example-text-input">
                                                                 </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                 <label for="example-search-input" class="col-3 col-form-label">Email</label>
                                                                 <div class="col-9">
                                                                      <input class="form-control" type="email" placeholder="Enter your E-mail Id" id="example-search-input1">
                                                                 </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                 <label for="example-search-input" class="col-3 col-form-label">Contact</label>
                                                                 <div class="col-9">
                                                                      <input class="form-control" type="number" placeholder="+91-9898989898" id="example-search-input">
                                                                 </div>
                                                            </div>
                                                            <div class="form-group row">                                                <label for="exampleTextarea" class="col-3 col-form-label">Message</label>                                                <div class="col-9">                                                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>                                                </div>                                            </div>                                            <div class="form-group row">                                                <div class="col-12 text-right">                                                    <button class="btn btn-primary">Submit</button>                                                </div>                                            </div>
                                                       </div>
                                                  </li>
                                             </ul>
                                        </li>
                                   </ul>
                                   <ul class="nav-right">
                                        <li class="header-notification lng-dropdown">
                                             <a href="#" id="dropdown-active-item">
                                                  <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                             </a>
                                             <ul class="show-notification">
                                                  <li>
                                                       <a href="#" data-lng="en">
                                                            <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" data-lng="es">
                                                            <i class="flag-icon flag-icon-es m-r-5"></i> Spanish
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" data-lng="pt">
                                                            <i class="flag-icon flag-icon-pt m-r-5"></i> Portuguese
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" data-lng="fr">
                                                            <i class="flag-icon flag-icon-fr m-r-5"></i> French
                                                       </a>
                                                  </li>
                                             </ul>
                                        </li>
                                        <li class="header-notification d-none">
                                             <a href="#!">
                                                  <i class="ti-bell"></i>
                                                  <span class="badge">5</span>
                                             </a>
                                             <ul class="show-notification">
                                                  <li>
                                                       <h6>Notifications</h6>
                                                       <label class="label label-danger">New</label>
                                                  </li>
                                                  <li>
                                                       <div class="media">
                                                            <img class="d-flex align-self-center" src="../files/assets/images/user.png" alt="Generic placeholder image">
                                                            <div class="media-body">
                                                                 <h5 class="notification-user">John Doe</h5>
                                                                 <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                                 <span class="notification-time">30 minutes ago</span>
                                                            </div>
                                                       </div>
                                                  </li>
                                                  <li>
                                                       <div class="media">
                                                            <img class="d-flex align-self-center" src="../files/assets/images/user.png" alt="Generic placeholder image">
                                                            <div class="media-body">
                                                                 <h5 class="notification-user">Joseph William</h5>
                                                                 <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                                 <span class="notification-time">30 minutes ago</span>
                                                            </div>
                                                       </div>
                                                  </li>
                                                  <li>
                                                       <div class="media">
                                                            <img class="d-flex align-self-center" src="../files/assets/images/user.png" alt="Generic placeholder image">
                                                            <div class="media-body">
                                                                 <h5 class="notification-user">Sara Soudein</h5>
                                                                 <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                                 <span class="notification-time">30 minutes ago</span>
                                                            </div>
                                                       </div>
                                                  </li>
                                             </ul>
                                        </li>
                                        <li class="header-notification d-none">
                                             <a href="#!" class="displayChatbox">
                                                  <i class="ti-comments"></i>
                                                  <span class="badge">9</span>
                                             </a>
                                        </li>
                                        <li class="user-profile header-notification">
                                             <a href="#!">
                                                  <img src="../files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                                  <span>John Doe</span>
                                                  <i class="ti-angle-down"></i>
                                             </a>
                                             <ul class="show-notification profile-notification">
                                                  <li>
                                                       <a href="#!">
                                                            <i class="ti-settings"></i> Settings
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="user-profile.html">
                                                            <i class="ti-user"></i> Profile
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="email-inbox.html">
                                                            <i class="ti-email"></i> My Messages
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="auth-lock-screen.html">
                                                            <i class="ti-lock"></i> Lock Screen
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="auth-normal-sign-in.html">
                                                            <i class="ti-layout-sidebar-left"></i> Logout
                                                       </a>
                                                  </li>
                                             </ul>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </nav>
          </div>
          <!-- Menu header end -->
          <section class="login header p-fixed d-flex text-center bg-primary common-img-bg">
               @RenderBody()
          </section>
     </div>


     <div class="footer bg-inverse">
          <p class="text-center">Copyright &copy; 2017 FLAT UI ADMIN , All rights reserved.</p>
     </div>


     @Scripts.Render("~/bundles/jquery/js")
     @Scripts.Render("~/bundles/jquery-ui/js")
     @Scripts.Render("~/bundles/popper.js/js")
     @Scripts.Render("~/bundles/bootstrap/js")
     @Scripts.Render("~/bundles/jquery-slimscroll/js")
     @Scripts.Render("~/bundles/modernizr/js")
     @Scripts.Render("~/bundles/i18next/js")
     @Scripts.Render("~/bundles/i18next-xhr-backend/js")
     @Scripts.Render("~/bundles/i18next-browser-languagedetector/js")
     @Scripts.Render("~/bundles/jquery-i18next/js")
     @Scripts.Render("~/bundles/script/js")
     @Scripts.Render("~/bundles/css-scrollbars/js")

</body>
</html>