@using System.Web.Optimization
@model  eProiect.Models.ViewModels.GeneralViewData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->


    <link rel="icon" href="~/Vendor/assets/images/favicon.ico" type="image/x-icon">
   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    @Styles.Render("~/bundles/bootstrap/css")

    @Styles.Render("~/bundles/themify-icons/css1")

    @Styles.Render("~/bundles/ico-font/css2")

    @Styles.Render("~/bundles/menu-search/css3")

    @Styles.Render("~/bundles/style/css4")
    @Styles.Render("~/bundles/mCustomScrollbar/css5")

    @Styles.Render("~/bundles/schedule-table/css")
    @Styles.Render("~/bundles/navbar-user-styles/css");

    @Styles.Render("~/bundles/j-pro-modern/css");

    @Styles.Render("~/bundles/UserDisciplineForm/css");
    @Styles.Render("~/bundles/UserDisciplineEditStyle/css");
    @Styles.Render("~/bundles/select2.min/css");

 
    @Styles.Render("~/bundles/guest-layout-styles/css")




    @Styles.Render("~/bundles/j-pro-modern/css");

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}


</head>
<body>

    <!-- Pre-loader start -->
    <div class="theme-loader">
        @Html.Partial("_Preloader")
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">

        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                @Html.Partial("_Navbar")
            </nav>

            <!-- Sidebar chat start -->
            <div id="sidebar" class="users p-chat-user showChat">
                @Html.Partial("_Sidebar")
            </div>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!--Sidebar-->
                    <nav class="pcoded-navbar">
                        @Html.Partial("_Navbar_main")
                    </nav>

                    <!--Main content in page-->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">

                                    <!-- Edit With Button card start -->
                                    @RenderBody()
                                    <!-- Edit With Button card end -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    @Scripts.Render("~/bundles/jquery/js")

    @Scripts.Render("~/bundles/jquery-ui/js")
    @Scripts.Render("~/bundles/popper.js/js")

    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery-slimscroll/js")
    @Scripts.Render("~/bundles/modernizr/js")
    @Scripts.Render("~/bundles/widget/amcharts")
    @Scripts.Render("~/bundles/widget/serial")
    @Scripts.Render("~/bundles/chart.js/js")
    @Scripts.Render("~/bundles/pages/todo")
    @Scripts.Render("~/bundles/i18next/js")
    @Scripts.Render("~/bundles/i18next-xhr-backend/js")
    @Scripts.Render("~/bundles/i18next-browser-languagedetector/js")
    @Scripts.Render("~/bundles/jquery-i18next/js")
    @Scripts.Render("~/bundles/pcoded/js")

    @Scripts.Render("~/bundles/demo-12/js")
    @Scripts.Render("~/bundles/mCustomScrollbar/js")

    @Scripts.Render("~/bundles/script/js")
    @Scripts.Render("~/bundles/CheckValues/js")

    @Scripts.Render("~/bundles/SendPagesNewValues/js")
    @Scripts.Render("~/bundles/pending-classes/js");


    @{

        if (Model.AcademicGroupsDataList != null)
        {

            @Scripts.Render("~/bundles/edittablesAG/js")
            @Scripts.Render("~/bundles/editableAG/js")
        }
        else if (Model.CassRoomsDataList != null)
        {
            @Scripts.Render("~/bundles/editableCR/js")
            @Scripts.Render("~/bundles/edittablesCR/js")

        }
        else if (Model.DisciplinesDataList != null)
        {
            @Scripts.Render("~/bundles/edittablesD/js")
            @Scripts.Render("~/bundles/editableD/js")
        }
        else if (Model.UDataList != null)
        {
            @Scripts.Render("~/bundles/edittablesU/js")
            @Scripts.Render("~/bundles/editableU/js")
        }

    }

    @Scripts.Render("~/bundles/js/jquery.maskedinput.min.js")
    @Scripts.Render("~/bundles/js/jquery.ui.min.js")

    @Scripts.Render("~/bundles/js/jquery-cloneya.min.js")
    @Scripts.Render("~/bundles/js/custom/cloned-form.js")
    @Scripts.Render("~/bundles/pages/UserDisciplineJavaScript.js")

    @Scripts.Render("~/bundles/js/custom/cloned-form.js")
    @Scripts.Render("~/bundles/pages/UserDisciplineJavaScript.js")
    @Scripts.Render("~/bundles/admin-teacher-view/js")
    @Scripts.Render("~/bundles/UserProfile/js")



</body>
</html>