@model  eProiect.Models.ViewModels.GeneralViewData
@using eProiect.Domain.Entities.User

<div class="navbar-wrapper">

    <div class="navbar-logo">

        <a href="@Url.Action("Schedule", "Home")">
            <div>
                <div class="logo-container">
                    <span class="main-word rubik-400">Orar Academic</span>
                    <span class="second-word rubik-500">FCIM</span>
                </div>
            </div>

        </a>

        <a class="mobile-options">
            <i class="ti-more"></i>
        </a>

        <a class="menu-lines" id="mobile-collapse" href="#!">
            <i class="ti-menu"></i>

        </a>

    </div>

    <div class="navbar-container container-fluid">
        <ul class="nav-right">

            <li class="header-notification">
                <a href="#!">
                    <i class="ti-bell"></i>
                    <span class="badge bg-c-pink"></span>
                </a>
                <ul class="show-notification">
                    <li>
                        <h6>Notifications</h6>
                        <label class="label label-danger">New</label>
                    </li>
                    <li>
                        <div class="media">
                            <img class="d-flex align-self-center img-radius" src="~/Vendor/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="notification-user">John Doe</h5>
                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                <span class="notification-time">30 minutes ago</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <img class="d-flex align-self-center img-radius" src="~/Vendor/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="notification-user">Joseph William</h5>
                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                <span class="notification-time">30 minutes ago</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <img class="d-flex align-self-center img-radius" src="~/Vendor/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="notification-user">Sara Soudein</h5>
                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                <span class="notification-time">30 minutes ago</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="user-profile header-notification d-flex" style=" margin-top: 20px;">
                <!--
                    
                <div class="navbar-user-info-block">
                </div>
                -->

                <div><i class="icofont icofont-user f-s-35"></i></div>
                <a href="#!" class="user-profile__body">
                    @*<img src="~/Vendor/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">*@

                    <span class="span-info__text">
                    <span> @Model.UData.Name @Model.UData.Surname </span>

                        @{
                            if (Model.UData.Level == UserRole.guest)
                            {
                                <span class="Navbar-profile-level-guest">guest</span>
                            }
                            else if (Model.UData.Level == UserRole.teacher)
                            {
                                <span class="Navbar-profile-level-teacher">profesor</span>
                            }
                            else if (Model.UData.Level == UserRole.admin)
                            {
                                <span class="Navbar-profile-level-admin">administrator</span>
                            }
                            else
                            {
                                <span class="Navbar-profile-level-invalid">eronat</span>
                            }

                        }
                   
                    </span>
                
                    <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                    <li>
                        <a href="@Url.Action("UserProfile", "Admin")">
                            <i class="ti-user"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserChangePassword", "Admin")>
                            <i class="ti-settings"></i> Change Password
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Home")">
                            <i class="ti-layout-sidebar-left"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>